.titleBar-AC4pGV {
	width: calc(100% - calc(72px + var(--cu-statuspickerwidth) * 240px));
	margin-left: calc(72px + var(--cu-statuspickerwidth) * 240px);
	background-color: transparent;
	margin-top: 0;
	height: 24px;
}

.titleBar-AC4pGV .wordmark-2iDDfm {
	margin-left: 310px;
}

.titleBar-AC4pGV .winButton-iRh8-Z {
	top: 0px;
	height: 24px;
}

.scroller-2TZvBN {
	background-color: var(--cu-serverlistbg);
}

.guilds-1SWlCJ {
	padding-top: 48px;
	background-color: var(--cu-serverlistbg);
}

.guilds-1SWlCJ .unreadMentionsIndicatorTop-gA6RCh {
	margin-top: 104px;
}

.guilds-1SWlCJ .tutorialContainer-1v44GL {
	position: sticky;
	top: 0px;
	padding-bottom: 6px;
	z-index: 1;
	background: linear-gradient(to bottom, var(--cu-serverlistbg) 55px, transparent 55px);
}

.guilds-1SWlCJ .tutorialContainer-1v44GL .wrapper-25eVIn .wrapper-1BJsBx {
	z-index: 5;
}

.guilds-1SWlCJ .tutorialContainer-1v44GL .wrapper-25eVIn .wrapper-1BJsBx .childWrapper-anI2G9 {
	display: none;
}

.guilds-1SWlCJ .tutorialContainer-1v44GL::after {
	content: "";
	height: calc(2px * var(--cu-divider));
	width: 52px;
	top: 54px;
	position: absolute;
	margin-left: 10px;
	background-color: var(--cu-dividercolor);
}

.bg-h5JY_x {
	top: -24px !important;
	background: linear-gradient(to right, var(--cu-serverlistbg) 72px, var(--cu-topbarbg) 72px);
}

.container-16j22k {
	background: linear-gradient(to bottom, var(--cu-topbarbg) 24px, var(--background-tertiary) 24px);
}

#status-picker {
	position: relative !important;
	top: -5px !important;
	left: 80px !important;
}

.panels-j1Uci_ .container-3baos1 {
	height: 0;
}

.panels-j1Uci_ .container-3baos1 .flex-1O1GKY .button-14-BFJ:nth-last-child(-n+3) {
	width: 36px;
	position: fixed;
	top: 0;
	left: 0;
	height: 24px;
	z-index: 3;
	border-radius: 0;
	background-color: var(--cu-serverlistbg);
}

.panels-j1Uci_ .container-3baos1 .flex-1O1GKY .button-14-BFJ:nth-last-child(-n+3):hover {
	filter: brightness(110%);
}

.panels-j1Uci_ .container-3baos1 .flex-1O1GKY .button-14-BFJ:nth-last-child(1) {
	position: fixed;
	left: 0px;
	top: -10px;
	padding-top: 34px;
	width: 72px;
	height: 86px;
	z-index: 2;
	background-color: var(--cu-serverlistbg);
	border-radius: 0;
}

.panels-j1Uci_ .container-3baos1 .flex-1O1GKY .button-14-BFJ:nth-last-child(1) .contents-18-Yxp {
	transform: scale(2);
}

.panels-j1Uci_ .container-3baos1 .flex-1O1GKY .button-14-BFJ:nth-last-child(4) {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 72px;
	height: 36px;
	background-color: var(--cu-serverlistbg);
	border-radius: 0;
}

.panels-j1Uci_ .container-3baos1 .flex-1O1GKY .button-14-BFJ:nth-last-child(2) {
	left: 36px;
}

.panels-j1Uci_ .container-3baos1 .avatarWrapper-2yR4wp {
	position: fixed;
	left: 0;
	top: 0;
	width: 312px;
	height: 24px;
	margin: 0;
	z-index: 1;
	cursor: pointer;
	background: linear-gradient(to bottom, transparent 24px, var(--cu-serverlistbg) 24px);
}

.panels-j1Uci_ .container-3baos1 .avatarWrapper-2yR4wp .avatar-SmRMf2 {
	position: absolute;
	height: 48px !important;
	width: 48px !important;
	margin-left: 12px;
	margin-top: 76px;
	pointer-events: none;
}

.panels-j1Uci_ .container-3baos1 .avatarWrapper-2yR4wp .avatar-SmRMf2 svg > rect {
	pointer-events: none;
}

.panels-j1Uci_ .container-3baos1 .nameTag-3uD-yy {
	position: fixed;
	left: 76px;
	top: 3px;
	width: 235px;
	display: flex;
	flex-direction: row;
}

.panels-j1Uci_ .container-3baos1 .nameTag-3uD-yy .usernameContainer-1fp4nu {
	flex: none;
}

.panels-j1Uci_ .container-3baos1 .nameTag-3uD-yy .size14-e6ZScH {
	font-size: 16px;
}

.panels-j1Uci_ .container-3baos1 .nameTag-3uD-yy .subtext-3CDbHg {
	padding-left: 4px;
	overflow: hidden;
	line-height: 18px;
}

.panels-j1Uci_ .container-3baos1 .nameTag-3uD-yy .subtext-3CDbHg .customStatus-3tC2ig img {
	position: relative;
	top: -2px;
}

.panels-j1Uci_ .container-3baos1 .nameTag-3uD-yy .subtext-3CDbHg .hoverRoll-YK53gQ .hovered-d5PMVU {
	opacity: 0 !important;
}

.panels-j1Uci_ .container-3baos1 .nameTag-3uD-yy .subtext-3CDbHg .hoverRoll-YK53gQ .default-3sgIpy {
	-webkit-transform: unset !important;
	transform: unset !important;
	opacity: 1 !important;
}